.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  left: 0.7rem;
  top: -0.6rem;
  font-size: 0.8rem;
  z-index: 0;
}

.form__input:placeholder-show {
  color: gray;
}
